#ignore all
*

#un-ignore files with extensions
!*.*
!Makefile
!src
!demo
!utils
!README*
!LICENSE
!conf
!include
!tests
!test2
!src/plugins
!src/plugins/ai-engines
!src/plugins/io
!tests/server
!tests/web
!tests/web/html
!tests/web/ssl
!tests/web/conf
!index.html
!*.pem
!*.json
!tools

*.so*
*.o
bin/
lib/
backup/

*.bak
*.dat
*.jpg
*.png
*.avi
*.mp4
*.mkv
*.webm
*.m4a


